<%- include('layouts/head.ejs') %>
<title><%= pageTitle %></title>
</head>

<body>
    <%- include('layouts/navigation.ejs') %>
    <h1 class="not-found">Page Not Found!</h1>

    <%- include('layouts/footer.ejs') %>